.container {
    display: flex;
    justify-content: center;
}

.imagemUsuario {
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin-top: 20px;

    /*
        Outra parada que eu n sabia era que o justify-content e align-items só funfa se for ou grid, ou flex
        achei que o display já deixava
        Aí fiz uma maracutaia de centralizar usando o line-height
    */

    line-height: 150px;
    border: 1px solid #ccc;
    font-family: sans-serif;
    background-color: #666;
    color: #f8f9fa;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 50%;
}

.imagemUsuario:hover {
    background-color: #0c2d0c;
}

.imagemContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 90%;
}

.botoesAlterar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: auto;

    width: 40%;
}

.formContainer{
    width: 1300px;
    height: 800px;

    /*Deixa tudo alinhado a esquerda*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-left: 50px;
}

.biografia {
    width: 90%;
    height: 100px;
    resize: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: sans-serif;
}

.subtitulo {
    font-size: 20px;
    font-family: sans-serif;
}

#adicionarTag {
    width: 10%;
}

.adicionarTag:hover {
    background-color: #0c2d0c;
}

.textoLimite {
    font-size: 12px;
    margin-top: 0;
    color: grey;
}

.iconesContato {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;

    /*Tamanho dos ícones*/
    font-size: 32px;
}

.iconesContato input {
    height: 40px;
    border-radius: 30px;
    border: 1px solid black;
    padding-left: 10px;
}

.deletarSalvar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;

    /*
        vw aparentemente é viewport, ou seja, o tamanho da tela
        então, a div vai puxar 50% da tela
    */
    width: 90%;
}

.deletarSalvar button {
    flex: 1;
}

#deletarConta {
    background-color: #aa0000;
}

#deletarConta:hover {
    background-color: rgb(105, 14, 14);
}

/* Estilo das tags */
.tags {
    color: #134313;
    background-color: #FFD2B3;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    display: inline-block;
    font-family: sans-serif;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 10px 0;
}

.textoSemTags {
    color: #666;
    font-family: sans-serif;
    margin: 0;
}

/* Estilo da imagem de perfil */

.imagemPlaceholder {
  position: relative;
  display: inline-block;
}

/*
    Como aqui é imagem, n tem como deixar mais escuro
    Aí deixa mais transparente kkk
*/
.imagemPlaceholder:hover {
    opacity: 0.8;
}

.imagemPreviewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
}

.imagemPreview {
    width: 100%;
    height: 100%;

    /*
        Esse contain é pra ver a imagem toda no preview
    */
    object-fit: contain;
    object-position: center;
}